body {
  font-family: 'Roboto';
  margin: 50px;
  font-weight: 400;
}
header {
  padding: 10px;
}

header a {
  color: white;
  font-weight: 300;
  text-decoration: none;
}

header > img {
  width: 200px;
  display: inline-block;
  /*height: 100px;*/
}

header ul {
  list-style-type: none;
}

header ul li {
  display: inline-block;
}

aside {
  display: inline-block;
}

figure {
  margin-left: 50px;
  display: inline;
}

figure img {
  width: 200px;
  height: 300px;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

.list-ingredients {
  list-style: square inside;
  margin-left: 20px;
}

.list-instructions {
  list-style: circle inside;
  margin-left: 20px;
}

.desctiption {
  display: block;
}

.instruction {
  display: inline;
}
